html,
body {
	padding: 0;
	margin: 0;
	color: #11270f;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

* {
	box-sizing: border-box;
}
*:focus,
a:focus,
button:focus {
	border-color: green;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(72, 187, 120, 0.5);
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.btn {
	display: inline-block;
	text-align: center;
	overflow: visible;
	user-select: none;
	text-indent: 0px;
	border-radius: 0.3rem;
	display: block;
	cursor: pointer;
	width: 100%;
	line-height: 1em;
	text-align: center;
	border-radius: 20px;
	font-size: 1em;
	padding: 16px 8px;
	text-decoration: none;
	border: 1px solid #ccc;
	background-color: rgba(255, 255, 255, 0.6);
	&:hover,
	&:focus {
		border: 1px solid #ccc;
		background-color: white;
	}
}
.btn-ghost {
	border: 1px solid #aaa;
	background-color: transparent;
	&:hover,
	&:focus {
		background-color: rgba(255, 255, 255, 0.4);
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 16px;
}

.header {
	background-color: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

	color: #1c4219;
	letter-spacing: -0.025em;
	padding: 16px 0;
	h1 {
		font-weight: 600;
		margin: 0;
		font-size: 1.5em;
		a {
			text-decoration: none;
			&:hover,
			&:focus {
				color: #cdffe2;
			}
		}
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.brand {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin-right: 8px;
}

.footer {
	background-color: #eee;
	margin-top: 48px;
	padding: 16px 0;
	.container {
		display: flex;
		align-items: center;
		// justify-content: space-between;
		justify-content: center;
		flex-wrap: wrap;
		padding: 16px 0;
	}
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	display: none;
}

.menu {
	padding: 0;
	li {
		display: inline-block;
		a {
			color: #333;
			margin-right: 8px;
			&:hover {
				color: black;
			}
		}
		&:last-child {
			a {
				margin-right: 0;
			}
		}
	}
}

.veggieGrid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card {
	perspective: 1000px;
	h3 {
		margin: 0;
	}

	.card-content {
		padding: 16px;
	}
	.card-inner {
		position: absolute;
		transition: transform 0.3s;
		transform-style: preserve-3d;
		position: relative;
		width: 100%;
		height: 100%;
	}

	.card-inner.is-flipped {
		transform: rotateY(180deg);
		.card-back {
			visibility: visible;
			opacity: 1;
		}
	}

	.card-front {
		border-radius: 8px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border: 1px solid lightgrey;
		background: white;
		cursor: pointer;
		width: 100%;
		height: 100%;
		min-height: 220px;
		display: flex;
		flex-direction: column;
		.card-image {
			background-color: lightgray;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			flex: 1;
			border-top-right-radius: 8px;
			border-top-left-radius: 8px;
			img {
				width: 100%;
				border-top-right-radius: 8px;
				border-top-left-radius: 8px;
			}
		}
		.card-content {
			.card-temporada {
				position: absolute;
				font-size: 1.5em;
				top: 10px;
				right: 1px;
				padding: 4px;
				background-color: rgba(255, 255, 255, 0.7);
				border-radius: 16px 0px 0px 16px;
			}
		}
	}

	.card-back {
		opacity: 0;
		transition: opacity 0.3s, visibility 0.3s;
		visibility: hidden;
		position: absolute;
		background: #ddd;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		border: 1px solid lightgrey;
		cursor: pointer;
		border-radius: 8px;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding: 16px;
		transform: rotateY(180deg);
		&:after {
			content: "";
			background-color: #ddd;
			opacity: 0.5;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
		}
		.card-content {
			background: #eee;
			border-radius: 4px;
			border: 1px solid #aaa;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.card-temporada {
				padding: 16px 0;
				flex: 1;

				.card-seasons {
					list-style-type: none;
					.text {
						text-transform: uppercase;
					}
				}
			}

			.card-recipe-btn {
				margin: 8px 0;
			}
			.card-flip-btn {
			}
		}
	}
}

.temporada {
	text-align: center;
	margin: 48px 0;
}

.selectGroup {
	margin: 16px 0;
}
.seasonSelect {
	width: 100%;
	margin: 16px 0;
	font-size: 2em;
	padding: 16px;
	line-height: 1.5;
	border-radius: 8px;
	background-clip: padding-box;
	border: 2px solid #48bb78;
	background-color: #fff;
	&:focus {
		color: #495057;
		background-color: #fff;
		border-color: green;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgb(72, 187, 120, 0.25);
	}
}
